$raspberry: #c81e45;
$nude: #bebeb4;
$darkGray: #2f2f2f;

@mixin admin {
  .section__switcher {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    height: 65px;
  }
  
  .order__switcher,
  .create__card,
  .delete__card{
    min-height: 25px;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 16px;
    color: $darkGray;
    cursor: pointer;

    &:hover{
      border-bottom: 2px solid $raspberry;
    }

  }

  .order__title,
  .create-card__title,
  .delete__card-title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: $nude;
  margin: 15px 0;
  }


  .order__inner {
    display: flex;
    flex-direction: column;
  }

  .table__info{
    border-collapse: collapse;

    th{
      color: rgba($color: $raspberry, $alpha: .8);
      font-size: 18px;
      letter-spacing: 1.2px;
      font-weight: 500;
    }
    
    tr{
      text-align: center;
      height: 70px;
      color: $nude;
    }

    td{
      border-top: 1px solid $nude;
      padding: 15px;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 500;
    }

  }

  .btn__close{
    width: 32px;
    height: 32px;
    cursor: pointer;

    i{
      transform: scale(1.5);
      color: #fff;
      pointer-events: none;
    }
  }

  .create-card__photo {
    padding: 20px;
    min-width: 450px;
    min-height: 300px;
    border: 2px dashed $nude;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &.active > .card__text label{
      display: none;
    }
  
    &.active{
      border: 2px solid $nude;
    }
  }

  .card__text {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
    i{
      color: $nude;
      transform: scale(3);
      margin-bottom: 35px;
    }
  
    label{
      font-size: 24px;
      line-height: 38px;
      color: $nude;
      text-align: center;
      font-weight: 500;
      cursor: pointer;
  
      span{
        display: block;
        margin: 5px 0;
        font-weight: 600;
      }
  
    }
}


  .card__thumb{
    width: 100%;
    min-height: 85%;
    border-radius: 10px;
    overflow: hidden;
    background: no-repeat center;
    background-size: cover;
    position: relative;
  
    &::after{
      content: attr(data-label);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      color: $raspberry;
      background: $nude;
      font-size: 14px;
      text-align: center;
    }
  
  }

  .input__photo {
    display: none;
  }

  .create-card__container {
    display: none;
    width: 100%;
  }

  .create-card__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .create__form{
    display: flex;

    input,
    textarea{
      margin-bottom: 15px;
      background-color: $nude;
      font-size: 16px;
      letter-spacing: 1.2px;
      font-weight: 400;
      padding: 5px;

    &.shake,
    &.shake ~ label {
      animation: shake .3s linear;
    }
  }

    textarea{
      outline: none;
      padding: 15px;
    }

    .btn__submit{
      outline: none;
      border: none;
      width: 30%;
      margin: 0 auto;
      border-radius: 12px;
    }

  }

  @keyframes shake {

    0%, 100%{
      margin-left: 0;
    }

    20%, 80%{
      margin-left: -12px;
    }

    40%, 60%{
      margin-left: 12px;
    }    
  }

  .main__info input{
    width: 95%;
  }

  .form__details{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
  }

  .card__chapter{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: $nude;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }

  .delete__card-container{
    display: none;
    width: 100%;
    height: 100%;


    .cards{
      flex-wrap: wrap;
    }

    .card,
    .card__title{
      color: $nude;
    }
    
    .card{
      margin-top: 20px;
      position: relative;
    }

  }

  .remove__button-container{
    position: absolute;
    top: -10px;
    right: 0;
  }

  .btn__remove{
    width: 32px;
    height: 32px;
    background: $raspberry;
    cursor: pointer;
    
    i{
      transform: translate(1.5);
      color: $darkGray;

      &:hover{
        color: $nude;
        transition: all .2s linear;
      }

    }

  }

}

