@mixin popup {
  .popup.show {
    position: absolute;
  
    header, .items, .about, .header, .products {
      display: none;
    }
  
    .section__nav {
      display: block;
      padding: 20px 30px;
    }
  }
  
  .section__nav .navbar {
    font-size: 15px;
  }
  
  .navbar .nav__title {
    font-size: 18px;
    color: $nude;
    letter-spacing: 1.2px;
  }
  
  .section__nav .navbar i {
    color: #ffffff;
    transform: scale(1.4);
    cursor: pointer;
  }
  
  .popup.show .card__info {
    display: block;
    width: 100%;
    padding-top: 0;
    margin-top: 30px;
    background-color: rgba($color: $darkGray, $alpha: .9);
    border-radius: 40px 40px 0 0;
  }
  
  .card__container {
    display: flex;
    justify-content: space-between;
  }
  
  .card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
  }
  
  .card__container .card__img img {
    max-width: 85%;
    max-height: 100%;
  }
  
  .card__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0 0 0;
    border-radius: 24px 24px 0 0;
  }
  
  .buy__inner {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
  }
  
  .select__container {
    width: 150px;
    height: 35px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: $raspberry;
    border: 1px solid $darkGray;
    margin-left: 10px;
  }
  
  .card__selection {
    margin-top: 5px;
  }
  
  .card__buy {
    .card__title {
      margin-bottom: 15px;
      font-size: 26px;
      line-height: 35px;
      color: #ffffff;
      letter-spacing: 1.2px;
    }
  
    .card__price {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 35px;
      color: #ffffff;
    }
  }
  
  .btn__buy {
    width: 200px;
    padding: 8px 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1.2px;
    cursor: pointer;
    background: $raspberry;
  
    i {
      padding-right: 10px;
      color: #ffffff;
    }
  }
  
  .partners__container {
    margin-top: 30px;
  }
  
  .company__title {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $nude;
    text-align: center;
    letter-spacing: 1.5px;
  }
  
  .logo__companies {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    a {
      width: 50%;
      text-decoration: none;
    }
  
    img {
      width: 60%;
      height: 20%;
      filter: invert(8%) sepia(7%) saturate(21%) hue-rotate(334deg) brightness(101%) contrast(88%);
  
      &:hover {
        filter: invert(91%) sepia(7%) saturate(237%) hue-rotate(21deg) brightness(84%) contrast(87%);
        transition: all .2s linear;
      }
    }
  }
  
  .description__container {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }
  
  .description__title {
    padding: 10px 0;
    font-size: 22px;
    line-height: 34px;
    color: $nude;
    text-align: center;
  }
  
  .card__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
    letter-spacing: 1.1px;
  }
  
}