$raspberry: #c81e45;
$nude: #bebeb4;
$darkGray: #2f2f2f;

@mixin products {
  .navbar i {
    color: #ffffff;
    transform: scale(1.5);
  }
  
  .input__search {
    padding: 0 10px 0 3px;
    font-size: 14px;
    color: $darkGray;
    letter-spacing: 1.3px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $darkGray;
    text-align: center;
  }
  
  .btn__search {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .btn__cart {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
  
    .cart__container {
      display: none;
    }
  }
  
  .btn__icon.open ~ .cart__container {
    display: block;
  }
  
  .cart__container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 300px;
    padding: 20px;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
    background: $darkGray;
  }
  
  .btn__checkout {
    display: none;
    text-decoration: none;
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 16px;
    color: $nude;
    text-align: center;
    letter-spacing: 1.2px;
    background-color: $raspberry;
  
    &:hover {
      color: #ffffff;
      transition: color .2s linear;
    }
  }

  .price__container {
    position: absolute;
    border-top: 3px solid $nude;
    left: 0;
    padding: 10px;
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
  }

  .total__price {
    color: $raspberry;
    font-size: 18px;
  }
  
  .cart__info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  
    .cart__title {
      margin: 0 auto;
    }

    .btn__back{
      cursor: pointer;
    }

  }
  
  .cart__title {
    font-size: 22px;
    font-weight: 600;
    color: $nude;
    letter-spacing: 1.2px;
  }
  
  .inner__items {
    list-style: none;
  
    .title__empty{
      color: $nude;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1.2px;
      padding: 20px 0 35px;
    }

    .inner__item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 15px 0;
      padding: 10px 0;
      border-top: 3px solid $nude;
  
      &:first-child{
        border-top: none;
      }
  
      a {
        font-size: 16px;
        font-weight: 400;
        color: $nude;
        text-decoration: none;
      }
  
      img {
        width: 25%;
      }
    }
  }

  .price__count{
    font-size: 16px;
    font-weight: 400;
    color: $nude;
  }
  
  .inner__items {
    
    .btn__delete{
    width: 24px;
    height: 24px;
    cursor: pointer;

    i{
      pointer-events: none;
    }

    }
    
  }
  
  .counter {
    position: absolute;
    bottom: 16px;
    left: 16px;
    z-index: 2;
    display: inline-block;
    width: 20px;
    height: 20px;
    color: $nude;
    background-color: $darkGray;
    border-radius: 50%;
  }
  
  .section__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: $darkGray;
    text-align: center;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
  }

  .filter__icon{
    display: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: rgba(200,30,69,.8);

    
    i{
      filter: invert(1);
    }

  }
  
  .sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
  
    .select__container {
      text-align: center;
      background-color: rgba(200, 30, 69, 0.8);
    }
  }

  .product__container{
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .filter {
    display: inline-block;
    width: 400px;
    padding: 25px;
    margin-top: 20px;
    background-color: rgba(47, 47, 47, 0.85);
  }
  
  .filter__section, .filter__selection {
    display: flex;
    flex-direction: column;
  }
  
  .filter__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: $nude;
    text-align: center;
  }
  
  .filter__selection a {
    color: $raspberry;
    text-decoration: none;
    cursor: pointer;
  }
  
  .item__inner {
    display: inline-block;
  }
  
  .checkbox {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .selection__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  
    .field {
      display: flex;
      align-items: center;
      height: 45px;
      color: $nude;
    }
  }
  
  .field input {
    width: 100%;
    height: 100%;
    margin-left: 12px;
    font-size: 16px;
    color: $darkGray;
    text-align: center;
    background-color: $nude;
    border: 1px solid $darkGray;
    outline: none;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  
  .selection__inputs .separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-size: 16px;
    color: $nude;
  }
  
  .range {
    position: relative;
    height: 5px;
    background-color: $darkGray;
    border-radius: 5px;
  
    .progress {
      position: absolute;
      right: 90%;
      left: 0%;
      height: 100%;
      background-color: $raspberry;
      border-radius: 5px;
    }
  }
  
  .range__input {
    position: relative;
  
    input {
      position: absolute;
      top: -5px;
      width: 100%;
      height: 5px;
      pointer-events: none;
      cursor: pointer;
      background: none;
      -webkit-appearance: none;
    }
  }
  
  .item__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .cards {
      margin-top: 20px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  
    .card {
      display: flex;
      min-height: 0;
      min-width: 0;
      width: 22%;
      margin-bottom: 20px;

      &:hover{
        box-shadow: 0px 5px 15px 4px rgba(34,34,34,0.5);
        transition: all linear .25s;
      }
  
      &.hide{
        display: none;
      }

    }
  
  }
  
  .rating {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    line-height: .75;
  }
  
  .rating__body {
    position: relative;
  
    &::before {
      display: block;
      color: $darkGray;
      content: "★★★★★";
    }
  }
  
  .rating__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $raspberry;
      content: "★★★★★";
    }
  }
  
  .rating__items {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
  }
  
  .rating__value {
    padding: 0 0 0 10px;
    font-size: 80%;
    line-height: 1;
  }
  
  .btns__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
  }

  .btn__load-more{
    color: $raspberry;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1.2px;
    padding: 4px 15px;
    cursor: pointer;
    margin: 20px 0;

    i{
      margin-right: 10px;
      transform: scale(1.3);
    }

  }
  
}